.detail {
  display: flex;
  flex-direction: column;
}

.movieDetail {
  margin: 0 auto;
  background-color: black;
}

.detailInfo {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

footer {
  background-color: #F0FFF0;
}

.footer {
  width: 100px;
  margin: 0 auto;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

