<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/sample.css}" rel="stylesheet" type="text/css">
<head>
    <meta charset="UTF-8" />
    <title>upload.html</title>
</head>

<body>
  <div class="images" style="display: flex">
    <div th:each= "list:${lists}" class="image">
      <img th:src="${list}" height="100" width="200"/>
    </div>
  </div>
  <div th:object="${imageForm}">
      <!-- <form th:action="@{/upload}" th:object="${imageForm}" method="post" enctype="multipart/form-data">
      <input type="hidden" th:field="*{image}" th.value="*{image}" />
      <input type="hidden" th:field="*{image}" th.value="*{image}" />
      <input type="hidden" th:field="*{image}" th.value="*{image}" />
      <input type="hidden" th:field="*{image}" th.value="*{image}" />
      <input type="hidden" th:field="*{image}" th.value="*{image}" />
      <input type="hidden" th:field="*{image}" th.value="*{image}" />
      <input type="hidden" th:field="*{image}" th.value="*{image}" />
      <input type="hidden" th:field="*{image}" th.value="*{image}" />
      <input type="hidden" th:field="*{image}" th.value="*{image}" />
      <input type="hidden" th:field="*{image}" th.value="*{image}" />
      <br /> <input type="submit" value="戻る" />
    </form> -->
    <form th:action="@{/complete}" th:object="${imageForm}" method="post" enctype="multipart/form-data">
      <div th:each= "image:${lists2}" class="image">
        <input type="hidden" id="*{image}" name ="*{image}" th:value="${image}" />
      </div>
  
      <!-- <input type="hidden" th:field="*{image}" /> -->
      <!-- <input type="hidden" th:field="*{image}" /> -->
      <!-- <input type="hidden" th:field="*{image}" th.value="*{image}" />
      <input type="hidden" th:field="*{image}" th.value="*{image}" /> -->
      <!-- <input type="hidden" th:field="*{image}" th.value="*{image}" />
      <input type="hidden" th:field="*{image}" th.value="*{image}" />
      <input type="hidden" th:field="*{image}" th.value="*{image}" />
      <input type="hidden" th:field="*{image}" th.value="*{image}" />
      <input type="hidden" th:field="*{image}" th.value="*{image}" />
      <input type="hidden" th:field="*{image}" th.value="*{image}" />
      <input type="hidden" th:field="*{image}" th.value="*{image}" /> -->
      <br /> <input type="submit" value="投稿" />
    </form>
  </div>
</body>

</html>
