<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Bootstrap core CSS -->
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<link href="/docs/4.5/dist/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="jumbotron.css" th:href="@{/css/jumbotron.css}" rel="stylesheet">
<link th:href="@{/css/application.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/detail.css}" rel="stylesheet" type="text/css">
<head><title>Index</title></head>
<body>
<div th:replace="~{block/head::headA}"></div>
<div th:replace="~{block/header::headerA}"></div>
<div role="main" class="mainBackground">

  <!-- <div > -->
  <div class="detail">
    <!-- <div th:each= "movie :${movieList}" class="image"> -->
    <!-- 動画はmovieのインデックス0に入っている -->
    <!-- <video th:src="${movie.get(0)}" height="150px" width="300px" controls></video> -->
    <video th:src="${convert}" height="500px" width="100%" class="movieDetail" controls></video>

    <!-- <img th:src="${movie.movie}" height="100px" width="200px" > -->
    <div class="detailInfo" >
      <div>
        <!-- 動画投稿者はmovieのインデックス3に入っている -->
        <a  class="postUserName" href="#" th:href="@{/user/{id}(id=${movie.user.id})}" style="display: block;">
          <img src="" alt="" th:src="${movie.user.avatar}" class="upAvatar" height="50px" width="50px">
          <span id="postUser" th:text="${movie.user.name}">投稿者</span>
        </a>
      </div>

      <div>
        <label for = "views">再生回数:</label>
        <span id="views" th:text="${movie.views} + '回'">再生回数</span>
      </div>
      <!-- ログインユーザーと投稿者が等しい場合はdiv -->
      <div th:if="${loginUser == movie.user.id || ''.equals(loginUser)}" class="review">
        <div class="reviewIcon">
          <i class="far fa-grin-squint"></i>
          <span class="reviewCount" th:text="${reviewMap.get('good')}">0</span>
        </div>
        <div class="reviewIcon">
          <i class="far fa-smile"></i>
          <span class="reviewCount" th:text="${reviewMap.get('normal')}">0</span>
        </div>
        <div class="reviewIcon">
          <i class="far fa-sad-tear"></i>
          <span class="reviewCount" th:text="${reviewMap.get('bad')}">0</span>
        </div>
      </div>
      
      <!-- ログインユーザーと投稿者が等しくない場合はリンク化 -->
      <!-- <div th:if="${loginUser != movie.user.id && !(''.equals(loginUser))}" class="review">
        <a th:href="@{/review/{id}(id=${movie.id})}"class="reviewIcon">
          <i class="far fa-grin-squint"></i>
          <span class="reviewCount">:0</span>
          <input type="hidden" name="review" value="good">
        </a>
        <a th:href="@{/review/{id}(id=${movie.id})}"class="reviewIcon">
          <i class="far fa-smile"></i>
          <span class="reviewCount">:0</span>
          <input type="hidden" name="review" value="normal">
        </a>
        <a th:href="@{/review/{id}(id=${movie.id})}"class="reviewIcon">
          <i class="far fa-sad-tear"></i>
          <span class="reviewCount">:0</span>
          <input type="hidden" name="review" value="bad">
        </a>   
      </div> -->
      <div th:if="${loginUser != movie.user.id && !(''.equals(loginUser))}" class="review">
        <form name="formName1"th:action="@{/review/{id}(id=${movie.id})}" method="POST">
          <!-- 既にreview済みかどうかで分岐 -->
          <a th:if="${matchReview.equals('good')}"  class="reviewIcon reviewLink link1 ajax_btn1" style="color:#28a745;">
            <i class="far fa-grin-squint"></i>
            <span class="reviewCount1" th:text="${reviewMap.get('good')}">0</span>
            
          </a>
          <a th:if="${!(matchReview.equals('good'))}"  class="reviewIcon reviewLink link1 ajax_btn1">
            <i class="far fa-grin-squint"></i>
            <span class="reviewCount1" th:text="${reviewMap.get('good')}">0</span>
            
          </a>
          <input type="hidden" name="review" value="good" class="sendReview1">
        </form>

        <form name="formName2"th:action="@{/review/{id}(id=${movie.id})}" method="POST">
          <!-- 既にreview済みかどうかで分岐 -->
          <a th:if="${matchReview.equals('normal')}"  class="reviewIcon reviewLink link2 ajax_btn2" style="color:#28a745;">
            <i class="far fa-smile"></i>
            <span class="reviewCount2" th:text="${reviewMap.get('normal')}">0</span>
          </a>
          <a th:if="${!(matchReview.equals('normal'))}" class="reviewIcon reviewLink link2 ajax_btn2">
            <i class="far fa-smile"></i>
            <span class="reviewCount2" th:text="${reviewMap.get('normal')}">0</span>
          </a>
          <input type="hidden" name="review" value="normal" class="sendReview2">

        </form>

        <form name="formName3"th:action="@{/review/{id}(id=${movie.id})}" method="POST">
          <!-- 既にreview済みかどうかで分岐 -->
          <a th:if="${matchReview.equals('bad')}" class="reviewIcon reviewLink link3 ajax_btn3" style="color:#28a745;">
            <i class="far fa-sad-tear"></i>
            <span class="reviewCount3" th:text="${reviewMap.get('bad')}">0</span>
          </a>   
          <a th:if="${!(matchReview.equals('bad'))}" class="reviewIcon reviewLink link3 ajax_btn3">
            <i class="far fa-sad-tear"></i>
            <span class="reviewCount3" th:text="${reviewMap.get('bad')}">0</span>
          </a>   
          <input type="hidden" name="review" value="bad" class="sendReview3">

        </form>

      </div>
  </div>

    <!-- 現在ログイン中のユーザーと動画投稿者が同じな場合、削除ボタンを表示する -->
    <form th:if="${loginUser == movie.user.id}" method="POST" th:action="@{/delete}">
      <!-- このname属性が@RequestParamで受け取る際のキーになる（受け取る値はvalue属性） -->
      <input type="hidden" name="movieId" th:value="${movie.id}">
      <input type="submit" value="削除" class="deleteBtn">
    </form>    

  <!-- </div> -->

  </div>
</div>

<footer>
  <p class="footer">&copy; 2020</p>
</footer>
<!-- Bootstrap用の軽量版 -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<!-- 通常版 -->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/hover.js}"></script>
<!-- ajaxのために追加 -->
<script type="text/javascript" th:inline="javascript">
$(function() {
    // Ajax通信テスト ボタンクリック
    $(".ajax_btn1").click(function() {
        
        var review = $(".sendReview1").val(); 
        var url = /*[[@{/review/{id}(id=${movie.id})}]]*/
        $.ajax({
            type        : "POST",
            url         : url,
            data        : {"review" : review},
            dataType    : "json",
            success     : function(data) {
                            success1(data);
                        },
            error       : function() {
                            error1();
                        }
        });
    });
});
 
// Ajax通信成功時処理
function success1(data) {
  $(".reviewCount1").html(
                `<span class="reviewCount1" style="color:#28a745;">${data["good"]}</span>
                `);
  $(".reviewCount2").html(
                `<span class="reviewCount2" style="color:black;">${data["normal"]}</span>
                `);
  $(".reviewCount3").html(
                `<span class="reviewCount3" style="color:black;">${data["bad"]}</span>
                `);
  $(".link2").css('color','black');
  $(".link3").css('color','black');
  $(".link2").addClass("ajax_btn2");
  $(".link3").addClass("ajax_btn3");
  $(".ajax_btn1").css('color','#28a745');
  $(".link1").removeClass("ajax_btn1");
}
 
// Ajax通信失敗時処理
function error1() {
    alert("エラー:レビューの値が不正です。");
}
</script>



<script type="text/javascript" th:inline="javascript">
$(function() {
    // Ajax通信テスト ボタンクリック
    $(".ajax_btn2").click(function() {
        
        var review = $(".sendReview2").val(); 
        var url = /*[[@{/review/{id}(id=${movie.id})}]]*/
        $.ajax({
            type        : "POST",
            url         : url,
            data        : {"review" : review},
            dataType    : "json",
            success     : function(data) {
                            success2(data);
                        },
            error       : function() {
                            error2();
                        }
        });
    });
});
 
// Ajax通信成功時処理
function success2(data) {
  $(".reviewCount1").html(
                `<span class="reviewCount1" style="color:black;">${data["good"]}</span>
                `);
  $(".reviewCount2").html(
                `<span class="reviewCount2" style="color:#28a745;">${data["normal"]}</span>
                `);
  $(".reviewCount3").html(
                `<span class="reviewCount3" style="color:black;">${data["bad"]}</span>
                `);

  $(".link1").css('color','black');
  $(".link3").css('color','black');


  $(".link1").addClass("ajax_btn1");
  $(".link3").addClass("ajax_btn3");
  $(".ajax_btn2").css('color','#28a745');
  $(".link2").removeClass("ajax_btn2");
}
 
// Ajax通信失敗時処理
function error2() {
  alert("エラー：レビューの値が不正です");
}
</script>
<script type="text/javascript" th:inline="javascript">
$(function() {
    // Ajax通信テスト ボタンクリック
    $(".ajax_btn3").click(function() {
        
        var review = $(".sendReview3").val(); 
        var url = /*[[@{/review/{id}(id=${movie.id})}]]*/
        $.ajax({
            type        : "POST",
            url         : url,
            data        : {"review" : review},
            dataType    : "json",
            success     : function(data) {
                            success3(data);
                        },
            error       : function() {
                            error3();
                        }
        });
    });
});
 
// Ajax通信成功時処理
function success3(data) {
  $(".reviewCount1").html(
                `<span class="reviewCount1" style="color:black;">${data["good"]}</span>
                `);
  $(".reviewCount2").html(
                `<span class="reviewCount2" style="color:black;">${data["normal"]}</span>
                `);
  $(".reviewCount3").html(
                `<span class="reviewCount3" style="color:#28a745;">${data["bad"]}</span>
                `);
  $(".link1").css('color','black');
  $(".link2").css('color','black');
  $(".link1").addClass("ajax_btn1");
  $(".link2").addClass("ajax_btn2");
  $(".ajax_btn3").css('color','#28a745');
  $(".link3").removeClass("ajax_btn3");


  
}
 
// Ajax通信失敗時処理
function error3() {
  alert("エラー：レビューの値が不正です");
}
</script>
</body>
</html>
