<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/sample.css}" rel="stylesheet" type="text/css">
<head>
    <meta charset="utf-8">
    <title>Index</title>
</head>

<body>
  <div class="images" style="display: flex">
    <div th:each= "movie :${movieList2}" class="image">
      <video th:src="${movie}" height="150px" width="300px" controls></video>
      <!-- <img th:src="${movie.movie}" height="100px" width="200px" > -->
      <div style="display: flex;justify-content : space-around">
        <div>作成者</div>
        <div>再生回数</div>
      </div>
    </div>
  </div>
  <div class="images" style="display: flex">
    <div th:each= "other :${movieList}" class="image">
      <span th:text="${other.created}"></span>
    </div>
  </div>

</body>

</html>