<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Bootstrap core CSS -->
<link href="/docs/4.5/dist/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="jumbotron.css" th:href="@{/css/jumbotron.css}" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<link th:href="@{/css/application.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">
<head><title>Index</title></head>
<body>
<div th:replace="~{block/head::headA}"></div>
<div th:replace="~{block/header::headerA}"></div>
<main role="main" class="mainBackground">

  <div id="loopSlide">
    <ul class="jsMovie1">
      <li th:each="views :${top5Views}" class="indexLoop jsMovie1">
         <a href="" th:href="@{/video/{id}(id=${views.get(0)})}" class="loopLink">
          <img th:src="${views.get(1)}" height="225px" width="400px" >
        </a>
      </li>
    </ul>
  </div>


  <div class="images">
    <div th:each= "movie, movieListStat:${movieList}" class="image">
      <div>
        <a href="" th:href="@{/video/{id}(id=${movie.getId()})}" class="movieLink jsMovie2" th:id="${movieListStat.index}">
          <div class="thumbnailBox" th:id="'imgSrc_' + ${movieListStat.index}">
            <img th:src="${movie.getImage().getImage()}" height="150px" width="300px" class="movieIndex" id="hoverChange" >
          </div>
          <div th:text="${movie.getTitle()}" class="movieTitle"></div>
        </a>

        <div class="indexInfo">
          <div>
            <a  class="postUserName" href="#" th:href="@{/user/{id}(id=${movie.getUserId()})}" style="display: block;">
              <img src="" alt="" th:src="${movie.getUser().getAvatar()}" class="upAvatar" height="50px" width="50px">
              <span id="postUser" th:text="${movie.getUser().getName()}">投稿者</span>
            </a>
          </div>
          <div>
            <label for = "views">再生回数:</label>
            <span id="views" th:text="${movie.getViews()} + '回'">再生回数</span>
          </div>
        </div>
      </div>

      <!-- 現在ログイン中のユーザーと動画投稿者が同じな場合、削除ボタンを表示する -->
      <form th:if="${loginUser == movie.getUserId()}" method="POST" th:action="@{/delete}">
        <!-- このname属性が@RequestParamで受け取る際のキーになる（受け取る値はvalue属性） -->
        <input type="hidden" name="movieId" th:value="${movie.getId()}">
        <input type="submit" value="削除" class="deleteBtn">
      </form>    

    </div>

  </div>
</main>

<footer>
  <p class="footer">&copy; 2020</p>
  <!-- <input type="button" id="push" value="クリックするとプッシュ通知が送られます"/> -->
</body>
</html>

</footer>
<!-- Bootstrap用の軽量版 -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<!-- 通常版 -->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/simplyscroll/2/jquery.simplyscroll.min.js"></script>
<script type="text/javascript" th:src="@{/js/hover.js}"></script>
<script type="text/javascript" th:src="@{/js/simplyscroll.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/1.0.12/push.min.js"></script>
<script type="text/javascript" th:inline="javascript">
  // model.addAttributeを使用する予定のため、htmlファイルにscriptタグ内に記述する必要あり
$(function() {
  // var loginUser = /*[[${loginUser}]]*/;
  if(!( loginUser == 0)) {

    // if ("Notification" in window) {
    //   var permission = Notification.permission;

    //   // if (permission === "denied" || permission === "granted") {
    //   //   return;
    //   // }
    //   if (permission === "denied") {
    //     return;
    //   } else if (permission === "granted") {
    //     console.log("test");
    //     return checkMovie();
    //   }


    //   Notification
    //     .requestPermission()
    //     .then(function() {
    //       console.log("test2");
    //       // var n = new Notification("〜さんが新しい動画を投稿しました。");
    //       checkMovie();
    //     });
    // }
    // var duration = 3000;


  //フォローしている人たちそれぞれの最新動画情報を取得するメソッドを作成しそれを得たリストを変数に代入する
  // var followingUserList = /*[[${followingUserLatestMovieList}]]*/;
  //リストを取り出し、一つ一つ通知出せるような仕組みを作る
  var allUserName;
  var allUserTitle;
  // for(i = 0; i < followingUserList.length; i++) {
  //   //最新動画情報(movie.idで識別？)
  //   console.log(followingUserList[i].id);
  //   var latestMovie = followingUserList[i].id;
  //   //前回ログインした際の最新動画情報(取得したユーザーidを付与する？)
  //   console.log(followingUserList[i].userId)
  //   // var currentMovie = localStorage.getItem("previousMovie" + followingUserList[i].userId);
  //   // console.log(currentMovie);
  //   // if (!(latestMovie == currentMovie)) {      
  //     Push.create(`${followingUserList[i].user.name}さんが新しい動画を投稿しました`,
  //                               {
  //                                 body:`動画のタイトルは「${followingUserList[i].title}」です。`,
  //                                 timeout: 100000,
  //                               });
  //   // break;
  //     // localStorage.setItem("previousMovie" + followingUserList[i].user_id, latestMovie);
  //     console.log(`${followingUserList[i].user.name}さんが新しい動画を投稿しました`);
  //     console.log(Push.count());
  //   // }
  // }

  //プッシュ通知を一つにまとめて送信する
  for(i = 0; i < followingUserList.length; i++) {
    if(i == 0 && i == followingUserList.length - 1) {
      allUserName  = `${followingUserList[i].user.name}`
      allUserTitle = `「${followingUserList[i].title}」`
    } else if(i == 0){
      allUserName  = `${followingUserList[i].user.name}さん,`
      allUserTitle = `「${followingUserList[i].title}」,`
    } else if(i == followingUserList.length - 1) {
      allUserName  += `${followingUserList[i].user.name}`
      allUserTitle += `「${followingUserList[i].title}」`
    } else {
      allUserName += `${followingUserList[i].user.name}さん,`
      allUserTitle += `「${followingUserList[i].title}」,`
    }
  }
  Push.create(`${allUserName}さんが新しい動画を投稿しました`,
                                {
                                  body:`動画のタイトルは${allUserTitle}です。`,
                                });
  }

});

// function checkMovie() {
//   var duration = 3000;
//   //フォローしている人たちそれぞれの最新動画情報を取得するメソッドを作成しそれを得たリストを変数に代入する
//   console.log(/*[[${followingUserLatestMovieList}]]*/);
//   var followingUserList = /*[[${followingUserLatestMovieList}]]*/;
//   //リストを取り出し、一つ一つ通知出せるような仕組みを作る
  
//   for(i = 0; i < followingUserList.length; i++) {
//     //最新動画情報(movie.idで識別？)
//     console.log(followingUserList[i].id);
//     var latestMovie = followingUserList[i].id;
//     //前回ログインした際の最新動画情報(取得したユーザーidを付与する？)
//     console.log(followingUserList[i].userId)
//     var currentMovie = localStorage.getItem("previousMovie" + followingUserList[i].userId);
//     console.log(currentMovie);
//     var n = new Notification(`${followingUserList[i].user.name}さんが新しい動画を投稿しました`,
//                                 {
//                                   body:`動画のタイトルは「${followingUserList[i].title}」です。`
//                                 });

//     if (!(latestMovie == currentMovie)) {      
//       // displayNotification(
//       //   `Click to see what's new in v${latestVersion}`,
//       //   "http://concisecss.com/images/logo.png",
//       //   "A new version of Concise is available",
//       //   `https://github.com/ConciseCSS/concise.css/releases/v${latestVersion}`
//       // );

//       //フォローユーザーの名前を取得し「〜さんが新しい動画を投稿しました」と表示する
//       var n = new Notification(`${followingUserList[i].user.name}さんが新しい動画を投稿しました`,
//                                 {
//                                   body:`動画のタイトルは「${followingUserList[i].title}」です。`
//                                 });
//       console.log(n);
//       setTimeout(n.close.bind(n), duration);
//       localStorage.setItem("previousMovie" + followingUserList[i].user_id, latestMovie);
//     }
//   }
// }
</script>
</body>
</html>
