<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/sample.css}" rel="stylesheet" type="text/css">
<head>
    <meta charset="utf-8">
    <title>Sample</title>
</head>

<body>
  <!-- <form th:action="@{/upload}" th:object="${imageForm}" method="post" enctype="multipart/form-data">
    ファイルを選択： <input type="file" th:field="*{image}" /><br /> <input type="submit" value="送信する" />
  </form> -->
  <div class="images" style="display: flex">
    <div th:each= "list:${lists}" class="image">
      <img th:src="${list}" height="100" width="200"/>
    </div>
  </div>
   <!-- <img th:src="${base64image}"/>
  <img th:src="${base64image}"/> -->
  <!-- <img th:src="${base64image}"/>
  <img th:src="${base64image}"/>
  <img th:src="${base64image}"/> -->
</body>

</html>