<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <link th:href="@{/css/application.css}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/preview.js}"></script>
    <title>Upload</title>
</head>

<body>
    <div th:replace="~{block/head::headA}"></div>
    <div th:replace="~{block/header::headerB}"></div> -->
    <!-- formにenctypeを設定しない場合、画像の中身が送信されないため注意 -->
    <!-- <form th:action="@{/upload}" th:object="${movieForm}" method="post" enctype="multipart/form-data" class="form">
        <div id="preview" class="movies">
        </div> -->
        <!-- <div th:if="${#fields.hasErrors('movie')}" th:errors="*{movie}" style="color:red;"></div> -->
        <!-- <div th:errors="*{movie}" style="color:red;"></div>
        ファイルを選択： <input type="file" th:field="*{movie}" th.value="*{movie}" id ="upfile" accept="video/*" capture="camera" multiple/> -->
        <!-- ファイルを選択： <input type="file" th:field="*{movie}" th.value="*{movie}" id ="upfile" accept="video/*" capture="camera"/> -->
        <!-- <br /> <input type="submit" value="送信する" />
    </form>
    
</body>

</html> -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Bootstrap core CSS -->
    <link href="/docs/4.5/dist/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="jumbotron.css" th:href="@{/css/jumbotron.css}" rel="stylesheet">

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link th:href="@{/css/upload.css}" rel="stylesheet">
    <meta charset="UTF-8" />
    <link th:href="@{/css/application.css}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/preview.js}"></script>
    <title>Upload</title>
</head>

<body>
    <div th:replace="~{block/head::headA}"></div>
    <div th:replace="~{block/header::headerA}"></div>
    <!-- formにenctypeを設定しない場合、画像の中身が送信されないため注意 -->
    <form th:action="@{/upload}" th:object="${movieForm}" method="post" enctype="multipart/form-data" class="form">
        <div id="preview">
        </div>
        <div class="uploadFlex">
            <!-- <div th:if="${#fields.hasErrors('movie')}" th:errors="*{movie}" style="color:red;"></div> -->
            <div class="uploadError" th:errors="*{movie}" style="color:red;"></div>
            <label for="upfile" class="uploadBox">
                <!-- 動画を複数投稿する場合 -->
                <!-- <input type="file" th:field="*{movie}" th.value="*{movie}" id ="upfile" accept="video/*" capture="camera" multiple/> -->
                <input type="file" th:field="*{movie}" th.value="*{movie}" id ="upfile" accept="video/*" capture="camera"/>
                <i class="fas fa-video"></i>
            </label>
            <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color:red;"></div>
            <span>タイトル:</span>
            <input type="text" th:field="*{title}" th.value="*{title}" placeholder="１〜５０字以内" required>
            <br /> <input class="uploadSubmit"type="submit" value="送信する" />
        </div>
    </form>
    
</body>

</html>