<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Bootstrap core CSS -->
<link href="/docs/4.5/dist/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="jumbotron.css" th:href="@{/css/jumbotron.css}" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<link th:href="@{/css/application.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/user.css}" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/preview.js}"></script>
<head>
    <meta charset="utf-8">
    <title>User</title>
</head>
<body class="mainBackground">
  <div th:replace="~{block/head::headA}"></div>
  <div th:replace="~{block/header::headerA}"></div>
  <div th:replace="~{block/modal::following}"></div>
  <div th:replace="~{block/modal::follower}"></div>

  <!-- ユーザーが存在し且つ動画も存在する場合 -->
  <div th:if="${popularMovie}" class="userBox">
    <div th:text="${complete}"></div>
    <div th:text="${error}" style="color:red;"></div>

    <!-- 自分のページかどうかで条件分岐 -->
    <div th:replace="~{block/avatar::userAvatar1}"></div>
  


    <div th:text="${popularMovie.user.name}" class="boxParts userName"></div>

    <!-- フォロー表示 -->
    <div class="followInfoBox">
      <div class="followInfo followingInfo">フォロー</div>
      <div class="followInfo followerInfo">フォロワー</div>
    </div>
    
    <video src="" th:src="${convert}" height="280px" width="500px" controls></video>
    <div th:text="${popularMovie.title}" class="boxParts">title</div>
  </div>

  <!-- ユーザーは存在するが動画は存在しない場合 -->
  <div th:if="${popularMovie == null && userName != null}" class="userBox">
  
    <div th:text="${complete}"></div>
    <div th:text="${error}" style="color:red;"></div>

    <!-- 自分のページかどうかで条件分岐 -->
    <div th:replace="~{block/avatar::userAvatar2}"></div>

    
    <div th:text="${userName.name}" class="boxParts userName"></div>

    <!-- フォロー表示 -->
    <div class="followInfoBox">
      <div class="followInfo followingInfo">フォロー</div>
      <div class="followInfo followerInfo">フォロワー</div>
    </div>
    
  </div>

  <!-- ユーザーが存在しない場合 -->
  <div th:if="${userName == null}">
    <div th:text="指定のユーザーは見つかりませんでした" class="noUser"></div>
  </div>


  <!-- Bootstrap用の軽量版 -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <!-- 通常版 -->
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script type="text/javascript" th:src="@{/js/modal.js}"></script>
  <!-- <script type="text/javascript" th:src="@{/js/hover.js}"></script> -->
  <!-- フォローする処理 -->
  <script type="text/javascript" th:inline="javascript">
    $(function() {
      $(".followBox").on('click','.followBtn', function() {
        console.log("成功")

        var url = /*[[@{/follow/{id}(id=${userId})}]]*/
        $.ajax({
          type    : "POST",
          url     : url,
          dataType: "json",
          success : function() {
                      success1();
                    },
          error   : function() {
                      error1();
                    }
        });
      });
    });
    function success1() {
      console.log("成功2")
      $(".followBox").html(
        `<button class="followedBtn"> フォロー中 </button>`
      );


    }
    function error1() {
      alert("エラー：ユーザーが不正です");
    }
  </script>

  <!-- フォローを外す処理 -->
  <script type="text/javascript" th:inline="javascript">
    $(function() {
      $(".followBox").on('click','.followedBtn', function() {
        console.log("成功3")
        var url = /*[[@{/followed/{id}(id=${userId})}]]*/
        $.ajax({
          type    : "POST",
          url     : url,
          dataType: "json",
          success : function() {
                      success2();
                    },
          error   : function() {
                      error2();
                    }
        });
      });
    });
    function success2() {
      $(".followBox").html(
        `<button class="followBtn"> フォローする </button>`
      );
    }
    function error2() {
      alert("エラー：ユーザーが不正です");
    }
  </script>
  
</body>
</html>